<p data-hook="skrill_quick_checkout"></p>

<%
opts = {}
opts[:transaction_id] = "#{@order.number}"
opts[:return_url] = paytrail_return_order_checkout_url(@order, :token => @order.guest_token,
                                                             :payment_method_id => payment_method.id)
opts[:cancel_url] = paytrail_cancel_order_checkout_url(@order, :token => @order.guest_token)
opts[:status_url] = paytrail_url
opts[:payment_method_id] = payment_method.id
%>

<style>
  iframe.skrill_frame{
    border: 0px;
    width: 100%;
    height: 600px;
  }
</style>

<fieldset id="skrill_payment__<%= payment_method.id %>" data-hook>
  <!-- <legend>Paytrail Payment<%#= t(:payment_information) %></legend> -->
  <% url = payment_method.redirect_url @order, opts %>
  <p>Redirecting..</p>
  <script type="text/javascript">
    window.location.href="<%= url.html_safe %>"  // the paytrail url
  </script>
</fieldset>

